html, body, #root {
    width: 100%;
    height: 100%;
}

#searchBox {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 1;
}

#searchBoxMaxButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.form-control:focus {
    box-shadow: none !important;
}

@font-face {
    font-family: "AnmolLipi";
    font-weight: bold;
    src: url("./fonts/AnmolLipiBoldTrue.ttf");
}

@font-face {
    font-family: "AnmolLipi";
    src: url("./fonts/AnmolLipiTrue.ttf");
}

@font-face {
    font-family: "GurbaniAkhar";
    src: url("./fonts/GurbaniAkharTrue.ttf");
}

@font-face {
    font-family: "GurbaniAkhar";
    font-weight: 500;
    src: url("./fonts/GurbaniAkharThickTrue.ttf");
}

@font-face {
    font-family: "GurbaniAkhar";
    font-weight: bold;
    src: url("./fonts/GurbaniAkharHeavyTrue.ttf");
}

@font-face {
    font-family: "NotoSansGurmukhi";
    src: url("./fonts/NotoSansGurmukhiTrue.ttf");
}

@font-face {
    font-family: "NotoSansGurmukhi";
    font-weight: bold;
    src: url("./fonts/NotoSansGurmukhiBoldTrue.ttf");
}

.shabad {
    padding: 4% !important;
}

.gurbani-row, .punjabi-row, .english-row {
    text-align: center;
    font-weight: bold;
}

.gurbani-row {
    font-size: 7rem;
    font-weight: bold;
    color: #01579b;
}

.punjabi-row {
    font-family: "NotoSansGurmukhi";
    padding-top: 4%;
    font-size: 4rem;
    color: #4e4e4e;
}

.english-row {
    padding-top: 4%;
    font-size: 4rem;
    color: #5a5a5a;
}

.shabad .gurmukhi {
    font-family: AnmolLipi;
}

.search-box .gurmukhi {
    font-family: AnmolLipi;
}

.search-box .list-group {
    overflow: auto;
    height: 290px; /* @todo: calculate using js */
}

.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.outer-border {
    border: 2px solid #DE9B72;
    height: 99%;
    width: 98%;
    padding: 6px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .outer-border {
        height: 94%;
    }
}

.mid-border {
    border: 6px solid #DE9B72;
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
}

.inner-border {
    position: relative;
    border: 2px solid #DE9B72;
    height: 100%;
    width: 100%;
    margin: auto;
}


/* Decorations */
.corner-decoration {
    position: absolute;
    width: 3em;
    margin: -3px;
}

@media (min-width: 768px) {
    .corner-decoration {
        width: 3.5em;
        margin: -4px;
    }
}

@media (min-width: 992px) {
    .corner-decoration {
        width: 4em;
        margin: -5px;
    }
}

@media (min-width: 1200px) {
    .corner-decoration {
        width: 5em;
        margin: -6px;
    }
}

.corner-decoration.corner-left-top {
    left: 0;
    top: 0;
}

.corner-decoration.corner-right-top {
    top: 0;
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
    right: 0;
    bottom: 0;
    -webkit-transform: scale(-1);
    transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
    left: 0;
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}


.vertical-decoration {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 11em;
}


@media (min-width: 768px) {
    .vertical-decoration {
        width: 16em;
    }
}


@media (min-width: 992px) {
    .vertical-decoration {
        width: 20em;
    }
}

@media (min-width: 1200px) {
    .vertical-decoration {
        width: 27em;
    }
}

.vertical-decoration.top {
    top: 0;

}

.vertical-decoration.bottom {
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
