html, body, #root {
    width: 100%;
    height: 100%;
}

#searchBox {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 30%;
    height: 30%;
    z-index: 1;
}

#searchBoxMaxButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.form-control:focus {
    box-shadow: none !important;
}

@font-face {
    font-family: "AnmolLipi";
    font-weight: bold;
    src: url("./fonts/AnmolLipiBoldTrue.ttf");
}

@font-face {
    font-family: "AnmolLipi";
    src: url("./fonts/AnmolLipiTrue.ttf");
}

.shabad .gurmukhi {
    font-family: AnmolLipi;
}

.search-box .gurmukhi {
    font-family: AnmolLipi;
}

.search-box .list-group {
    overflow: auto;
    height: 290px; /* @todo: calculate using js */
}
